.hero {
  display: flex;
  gap: 3px;
  padding: 40px 240px;
  
}

.hero__image {
  width: 540px;
  height: 514px;
  border-radius: 42px;
  object-fit: cover;
}

.hero__content {
  width: 504px;
  height: 504px;
  background-color: #1E1B4B;
  padding: 40px;
  border-radius: 22px;
  display: flex;
  align-items: center;
}

.hero__content h1 {
  font-size: 28px;
  line-height: 1.4;
}