
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #000000FF;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

} 

.navbar__logo {
  font-size: 22px;
  font-weight: bold;
  color: #4F46E5;
}

.navbar__links {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.navbar__links a {
  color: #cbd5e1;
  font-style: montserrat;
}

.navbar__links a.active {
  color: #4F46E5;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.navbar__right input{
  width: 256px;
  height: 36px;
}

.navbar__search {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  background-color: #111827;
  color: white;
  width: 250px;
}

.login-btn {
  
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500;
  width: 77.640625px; 
  height: 39px;
  margin-bottom: 20px;
  
}


.register-btn {
  color: #FFFFFFFF; /* white */
  background: #5255F4FF; 
  width: 169px; 
  height: 40px;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
}